<h2 mat-dialog-title>User-dialog</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="userForm" class="user-form w-100">
        <div *ngFor="let form of userForm.controls; let i=index" class="d-flex align-items-baseline">
            <mat-form-field appearance="fill" class="w-100 mb-3">
                <mat-label>Enter value</mat-label>
                <input matInput [formControlName]="i">
                <mat-error *ngIf="form.invalid && form.errors?.required">Required</mat-error>
            </mat-form-field>
            <button mat-button [disabled]="form.invalid" (click)="saveChanges(form, i)">Save changes</button>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>