<div class="container h-100 d-flex justify-content-center align-items-center">
    <form [formGroup]="form" class="user-form w-100">
        <mat-form-field appearance="fill" class="d-block">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email">
            <mat-error *ngIf="email.invalid">invalid</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="d-block">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hideShowPasswordIcon ? 'password' : 'text'" [formControl]="password">
            <button mat-icon-button matSuffix (click)="hideShowPasswordIcon = !hideShowPasswordIcon"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideShowPasswordIcon">
                <mat-icon>{{hideShowPasswordIcon ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-stroked-button color="primary" class="d-block ml-auto">Login</button>
    </form>
</div>